@font-face {
  font-family: "iconfont"; /* Project id 3639123 */
  src: url('iconfont.woff2?t=1664788756592') format('woff2'),
       url('iconfont.woff?t=1664788756592') format('woff'),
       url('iconfont.ttf?t=1664788756592') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shangyi:before {
  content: "\e605";
}

.icon-xiala:before {
  content: "\e6b9";
}

.icon-caidan:before {
  content: "\e60e";
}

.icon-bangzhu:before {
  content: "\e604";
}

.icon-shezhi:before {
  content: "\e62b";
}

.icon-shequ:before {
  content: "\e62c";
}

.icon-shoucang:before {
  content: "\e61a";
}

.icon-guanzhu:before {
  content: "\e655";
}

.icon-anquan_o:before {
  content: "\eb71";
}

.icon-guanbi_o:before {
  content: "\eb76";
}

.icon-saoyisaosaomiao:before {
  content: "\e7c1";
}

.icon-lishi:before {
  content: "\e638";
}

.icon-xinfeng:before {
  content: "\e640";
}

.icon-twitter:before {
  content: "\e646";
}

.icon-dingdan:before {
  content: "\e8ae";
}

.icon-shouye:before {
  content: "\e8c6";
}

.icon-shichang:before {
  content: "\e60d";
}

.icon-yuan:before {
  content: "\e610";
}

.icon-yingshi:before {
  content: "\e62a";
}

.icon-dianreshuihu:before {
  content: "\e63c";
}

.icon-gouwuchekong:before {
  content: "\e600";
}

.icon-fanhui:before {
  content: "\e601";
}

.icon-fanhui2:before {
  content: "\e603";
}

.icon-xiaozu:before {
  content: "\e69a";
}

.icon-gengduo:before {
  content: "\e719";
}

.icon-qianbao_o:before {
  content: "\eba1";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-cebianlan:before {
  content: "\e606";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-email:before {
  content: "\e66f";
}

.icon-pinglun:before {
  content: "\e602";
}

.icon-loop:before {
  content: "\ea1d";
}

.icon-aixin:before {
  content: "\e8ab";
}

.icon-bianji:before {
  content: "\e8ac";
}

